//COLORS
$color-primary: #ffb932;
$color-white: #fff;
$color-white-text: #e8e8e8;
$color-black: #000;
$color-grey: #474747;
$color-grey-text: #cfcfcf;

$color-grey-light: #aeada8;
$color-grey-light-2: #f0f0f0;
$color-grey-text: #e9e9e9;
$color-grey-bg: #ededed;
$color-grey-dark: #171717;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;