.row {
   max-width: $grid-width;
   margin: 0 auto;

   &:not(:last-child) {
      margin-bottom: $gutter-vertical;

      @include respond(tab-port) {
         margin-bottom: $gutter-vertical-small;
      }
   }

   @include respond(tab-land) {
      padding: 0 3rem;
   }

   @include respond(tab-port) {
      max-width: 60rem;
   }

   @include clearfix;
}