.btn {

   &,
   &:link,
   &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 2.5rem;
      display: inline-block;
      transition: all .2s;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 1.4rem;
      cursor: pointer;
   }

   &:hover {
      transform: translateY(-3px);
      color: $color-black;
      background-color: $color-primary;
      border: 1px solid $color-black;
      box-shadow: 0 1rem 2rem rgba($color-black, .2);
   }

   &:active,
   &:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black, .2);
   }

   &--white {
      border: 1px solid #fff;
      color: $color-white;
   }
}

.btn-text {

   &,
   &:link,
   &:visited {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-black;
      font-weight: 700;
   }

   &:hover {
      color: $color-primary;
      transition: all 0.3s ease;
   }
}