.header {
   position: absolute;
   z-index: 1000000;
   padding-top: 3rem;
   top: 0;
   width: 100%;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}

.hero {
   height: 56vh;
   background-image: linear-gradient(to right bottom,
         rgba($color-black, 0.6),
         rgba($color-black, 0.6)),
      url(../img/hero.jpg);
   background-size: cover;
   background-position: top;
   clip-path: polygon(0% 0%, 100% 0%, 100% 65%, 75.5% 100%,
         69.8% 92.5%, 50% 100%, 30.2% 92.5%, 24.5% 100%, 0% 65%);
   position: relative;

   @include respond(tab-port) {
      clip-path: none;
   }

   &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -40%);
      text-align: center;

      @include respond(phone) {
         top: 50%;
         transform: translate(-50%, -50%);
      }
   }
}