.logo {
   color: $color-white;
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   font-style: italic;
   font-size: 2.5rem;

   &__span {
      color: $color-primary
   }

   @include respond(tab-port) {
      margin-bottom: 0;
   }
}