.section-projects {
   padding: 4.5rem 0;
   background-color: $color-grey-bg;

   @include respond(phone) {
      padding: 3rem 0;
   }
}

.project-nav {
   text-align: center;
   margin-bottom: 4rem;

   &__link {
      display: inline-block;
      font-size: 1.4rem;
      margin-right: 1rem;
      text-transform: uppercase;
      cursor: pointer;

      &:last-child {
         padding-right: 0;
      }

      &:hover {
         color: $color-primary;
         transition: all 0.3s ease;
      }
   }
}

.project-items {
   width: 100%;
}

.project-item {
   position: relative;
   width: 24%;
   margin: .5rem;

   &__img {
      display: block;
      filter: grayscale(100%);
   }

   &__info {
      position: absolute;
      top: 50%;
      left: 10%;
      transform: translate(0, -50%);
      opacity: 1;
   }

   &__title {
      color: $color-primary;
   }

   &__text {
      @include respond(tab-port) {
         display: none;
      }
   }

   &:hover &__img {
      filter: grayscale(0%);
      transition: all .2s ease;
   }

   &:hover &__info {
      opacity: 0;
      transition: all .1s ease;
   }
}